body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(50, 50, 55);
}

.container {
  height: 70%;
  width: 32rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2f3640;
  box-shadow: 0 0 5rem black;
  border-radius: 1rem;
}

.resScreen {
  height: 25%;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  color: #e84118;
  font-size: 250%;
  align-items: center;
  justify-content: right;
  overflow:hidden;
}

.ansBtn{
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 1.5px solid black;
  border-radius: 0.5rem;
  outline: none;
  left: 100%;
  transform: translate(-120%);
  background: transparent;
  color: #e84118;
  transition: all 0.5s ease-in-out;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  width: 30rem;
  height: 60%;
  margin: 0 auto;
}

.calculator button {
  background-color: #2f3640;
  color: #e84118;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 1.3rem;
}

.calculator button:hover, .ansBtn:hover{
  background-color: #e84118;
  color: #2f3640;
}

.calculator button:active, .ansBtn:active {
  background-color: #c93611;
  color: whitesmoke;
}

.back {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  height: 7%;
  width: 7rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: #e84118;
  font-size: 1.5rem;
  color: whitesmoke;
  font-weight: bold;
}

.back:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: #c93611;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .calculator {
    width: 95%;
    grid-template-columns: repeat(5, 1fr);
  }
}