* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    background: #22272e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    position: absolute;
    top: 8%;
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
}

.container {
    position: relative;
    background: #2f3640;
    height: 40rem;
    width: 40rem;
    box-shadow: 0 0 10rem rgb(0, 0, 0);
}

.ball {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 2px solid black;
    background: #e84118;
}

.pong {
    position: absolute;
    height: 1rem;
    width: 5rem;
    background: #e84118;
    bottom: 0;
}

.backBtn {
    background: #e84118;
    border: none;
    color: whitesmoke;
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.3rem;
}

.backBtn:hover {
    background: #c23613;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.1);
}

@media only screen and (max-height: 900px) {
    .container {
        width: 90%;
        height: 60%;
    }
    .counter{
        font-size: 2rem;
        top: 3%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
        height: 60%;
    }

    .counter {
        font-size: 3rem;
        top: 5%;
    }

    .pong {
        width: 30%;
    }
}